HELP.md

target/
build/
dist/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

compose.yaml
deployment.yaml
simple-api.env
redis/
grafana/
monitoring.yaml

.env
.env.*
!.env.example

*.swp
*.log

.git/
.gitignore
README.md
